:root{
    --void-color: #0E0A19;
    --fuschia-color:#FF3B3D;
    --jevel-color:#312F2F;
    --stark-color:#E8DFE0;
    --white-color:#fff;
    --body-color:#E5E5E5;
    --grey-text-color:#C4C4C4;
    --lightgrey-color:#AA9FA1;
    --shadow-color:#7E88AD;
    --shadow-color-rgba: rgba(126,136,173,0.25);
}