.button_rb_arrow{
    top: 29px;
    left: 15px;
    position: absolute;
}
.button_redblack{
    border: none;
    text-decoration: none;
    width:270px;
    height:76px;
    background-color: #FF3B3D;
    background-color: var(--fuschia-color);
    padding:0;
    cursor:pointer;
}
.button_rb_black{
    width: 68px;
    height: 100%;
    background: #0E0A19;
    background: var(--void-color);
    position: relative;
}
